[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
email-validator = "*"
password-strength = "*"
pillow = "*"
flask-wtf = "*"

[dev-packages]
black = "*"
bandit = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-flask = "*"

[requires]
python_version = "3.9"
