{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Profile - {{ g.user['user_login'] }}{% endblock %}</h1>
Registered: {{ g.user['user_registered'].strftime('%Y-%m-%d %H:%M:%S') }}
Last Login: {{ g.user['user_last_login'].strftime('%Y-%m-%d %H:%M:%S') }}
Account status: {{ g.user['user_status'] }}
{% endblock %}
{% block content %}
<form method="post">
  <label for="username">Email address</label>
  <input name="username" id="username" required value="{{ g.user['user_login'] }}" readonly>
  <label for="firstname">Firstname</label>
  <input name="firstname" id="firstname" value="{{ g.user['user_firstname'] }}">
  <label for="lastname">Lastname</label>
  <input name="lastname" id="lastname" value="{{ g.user['user_lastname'] }}">
  <label for="password">New Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Update">
</form>
<p><a href="{{ url_for('auth.deactivate') }}">Disable or delete Account</a>

  {% endblock %}