

name: bandit

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: '44 13 * * 5'

permissions:
    contents: read

jobs:
  bandit:
    permissions:
      actions: read
      contents: read
      security-events: write

    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v2
      - name: Run bandit
        uses: jpetrucciani/bandit-check@master
        with:
          bandit_flags: '-lll -f text'
